// 1200px
// 992px
// 768px
// 480px
// 360px
// 320px

$font-family-title: "DM Sans",
sans-serif;
$font-family-txt: "Mulish",
sans-serif;
$font-color-title: #19191b;
$font-color-txt: #696871;
$color-purple: #5454d4;
$color-orange: #ff7143;

@media screen and (max-width: 1280px) {

    .wrapper,
    .wrapper--large {
        width: 992px;
        padding: 0 20px 0 110px;
    }

    h1 {
        font-size: 70px;
        line-height: 70px;
    }

    h2 {
        font-size: 50px;
    }
}

@media screen and (max-width: 992px) {

    .wrapper,
    .wrapper--large {
        width: 768px;
        padding: 0 20px;
    }

    .header {
        flex-direction: column;
        padding: 20px;

        &__logo {
            margin-bottom: 20px;
        }

        &-nav {
            width: 80%;
            margin-bottom: 20px;

            &--is-active {
                padding: 0 10px;
                border: none;
                border-radius: 10px;
                color: #fff;
                background-color: $color-purple;
            }
        }
    }

    .button {
        line-height: 50px;
    }

    .button{
        &--switch{
            width: 100%;
            &__item{
                padding: 0;
            }
        }
    }

    .carousel {
        &__gallery {
            width: 70%;
        }

        &__next,
        &__prev {
            width: 50px;
            height: 50px;
        }
    }

    .button--arrow {
        width: 50px;
        height: 50px;
    }

    .img {
        height: 400px;
    }

    h1 {
        font-size: 55px;
        line-height: 65px;
    }

    h2 {
        font-size: 40px;
    }
}

@media screen and (max-width: 768px) {

    .wrapper,
    .wrapper--large {
        width: 480px;
    }

    .main {

        &-section--row,
        &-section--row-rev {
            flex-direction: column-reverse;
            padding: 30px 0;
        }

        &-section__txt,
        &-section__pic {
            width: 100%;
        }

        .main-section__txt-btn-block {
            justify-content: center;
        }

        &-section--cards {
            padding: 50px 0;

            &__head {
                margin-bottom: 60px;

                justify-content: center;
                flex-direction: column;

                &-item {
                    width: 100%;
                    padding-bottom: 20px;
                }

                &-btns {
                    justify-content: center;
                }
            }

            &__main {
                flex-direction: column;

                &-item {
                    width: 100%;
                    margin-bottom: 20px;
                }

                &--is-active {
                    transform: scale(1);
                }
            }
        }

        &-section--small-blocks__item-pic {
            width: 120px;
        }
    }

    .carousel {
        &__gallery {
            width: 75%;
        }
    }

    .img {
        height: 530px;
    }

    .pic-1-st,
    .pic-2-nd,
    .pic-3-rd {
        background-position: center;
    }

    h1,
    h2,
    h3 {
        text-align: center;
        font-size: 40px;
    }
}

@media screen and (max-width: 480px) {

    .wrapper,
    .wrapper--large {
        width: 360px;
    }

    .img {
        height: 400px;
    }

    .main {
        &-section--small-blocks {
            flex-direction: column;

            &__item {
                width: 100%;
                margin-bottom: 20px;
            }
        }
    }

    .carousel__gallery {
        width: 50%;
    }

    h1,
    h2,
    h3 {
        font-size: 30px;
        line-height: 40px;
    }
}

@media screen and (max-width: 360px) {

    .wrapper,
    .wrapper--large {
        width: 320px;
    }

    .carousel__gallery {
        width: 60%;
    }

    .img {
        height: 350px;
    }
}