$font-family-title: 'DM Sans',
sans-serif;
$font-family-txt: 'Mulish',
sans-serif;
$font-color-title: #19191B;
$font-color-txt: #696871;
$color-light-bg: #f7f6fb;
$color-purple: #5454D4;
$color-orange: #FF7143;

.main {
    &-section {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__txt {
            width: 50%;

            &-btn-block {
                display: flex;
                justify-content: flex-start;
            }

            .btn-wrapper{
                width: 210px;
            }
        }

        &__pic {
            width: 50%;
        }
    }

    &-section--row {
        flex-direction: row;
    }

    &-section--row-rev {
        flex-direction: row-reverse;
    }

    &-section--height-large{
        min-height: 810px;
    }

    &-section--height-short{
        min-height: 650px;
    }

    &-section--small-blocks{
        padding: 40px 0;

        &__item{
            width: 30%;

            &-pic{
                width: 150px;
                height: 90px;
                margin: 0 auto 10px auto;
            }

            &-txt{
                font-size: 16px;
                text-align: center;
            }
        }
    }

    &-section--cards{
        flex-direction: column;
        flex-wrap: wrap;
        padding: 100px 0;
        
        &__head{
            display: flex;
            justify-content: space-between;
            margin-bottom: 100px;

            &-item{
                width: 50%;
            }

            &-btns{
                display: flex;
                align-items: center;
                justify-content: flex-end;
            }
        }

        &__main{
            display: flex;
            justify-content: space-between;
            width: 100%;

            &-item{
                width: 30%;
                padding: 30px 20px;
                border-radius: 10px;
                font-size: 18px;
                text-align: center;
                background-color: $color-light-bg;
            }

            &--is-active{
                transform: scale(1.15);
                background-color: $color-orange;
                color: #fff;

                h2{
                    color: #fff;
                }

                .button--white{
                    background-color: #a0391a;
                    color: #fff;
                }

                .button--white:hover{
                    background-color: $color-purple;
                }
            }
        }
    }
}

.pic-1-st {
    background: url('../images/pictures/block-1.png') no-repeat right;
    background-size: 100%;
}

.pic-2-nd{
    background: url('../images/pictures/block-2.png') no-repeat left;
    background-size: 65%;
}

.pic-3-rd{
    background: url('../images/pictures/block-3.png') no-repeat right;
    background-size: 65%;
}

.link-pic-1{
    background: url('../images/icons/main-pic-1.svg') no-repeat center;
    background-size: 100%;
}

.link-pic-2{
    background: url('../images/icons/main-pic-2.svg') no-repeat center;
    background-size: 100%;
}

.link-pic-3{
    background: url('../images/icons/main-pic-3.svg') no-repeat center;
    background-size: 80%;
}

.link-pic-4{
    background: url('../images/icons/main-pic-4.svg') no-repeat center;
    background-size: 100%;
}

.link-pic-5{
    background: url('../images/icons/main-pic-5.svg') no-repeat center;
    background-size: 100%;
}

.pic-mini-1-st {
    background: url('../images/pictures/block-4-pic-1.png') no-repeat center;
    background-size: 100%;
}

.pic-mini-2-nd{
    background: url('../images/pictures/block-4-pic-2.png') no-repeat center;
    background-size: 100%;
}

.pic-mini-3-rd{
    background: url('../images/pictures/block-4-pic-3.png') no-repeat center;
    background-size: 100%;
}