@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
@import url('./header.scss');

$font-family-title: 'DM Sans',
sans-serif;
$font-family-txt: 'Mulish',
sans-serif;
$font-color-title: #19191B;
$font-color-txt: #696871;
$color-light-bg: #f7f6fb;
$color-purple: #5454D4;
$color-orange: #FF7143;

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    font-size: 17px;
    font-weight: bold;
    color: $color-purple;
    text-decoration: none;
    transition: 0.5s;
}

a:hover {
    color: $color-orange;
}

body {
    font-family: $font-family-txt;
    font-size: 20px;
    color: $font-color-txt;
}

.wrapper {
    width: 1280px;
    margin: 0 auto;
    padding: 0 105px;

    &--large {
        padding: 0 35px 0 105px;
    }
}

.button {
    width: 100%;
    background-color: $color-purple;
    border: none;
    border-radius: 10px;
    font-family: $font-family-title;
    font-size: 17px;
    font-weight: bold;
    line-height: 60px;
    color: #fff;
    transition: 0.5s;

    &-marginR {
        margin-right: 40px;
    }

    &--orange {
        background-color: $color-orange;
    }

    &--orange {
        background-color: $color-orange;
    }

    &--white {
        width: 100%;
        color: $color-purple;
        background-color: #fff;
    }
}

.button:hover {
    cursor: pointer;
    background-color: $color-orange;
}

.button--orange:hover {
    background-color: $color-purple;
}

.button--white:hover {
    color: $font-color-title;
}

.button--arrow,
.carousel__prev,
.carousel__next {
    display: block;
    width: 60px;
    height: 60px;
    background: url(../images/icons/arrow-down.svg) no-repeat center;
    background-size: 40%;
    border: 1px solid $color-light-bg;
    border-radius: 50%;
    transition: 0.5s;
}

.button--arrow:hover,
.carousel__prev:hover,
.carousel__next:hover {
    cursor: pointer;
    background-color: $color-orange;
    border-color: $color-orange;
}

.button--switch {
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: $color-light-bg;
    border-radius: 10px;

    &__item {
        padding: 0 30px;
        color: $font-color-title;
        background-color: $color-light-bg;
        line-height: 55px;
        border-radius: 0;
    }

    &__item:first-child {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    &__item:last-child {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    &--is-active {
        color: #fff;
        background-color: $color-purple;
    }
}

.carousel {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__gallery {
        width: 80%;
        padding: 20px 0;
        overflow: hidden;

        &-list {
            list-style: none;
            transition: 0.5s;

            &-item {
                display: inline-block;
                padding: 0 23px;
                width: 170px;
                height: 60px;

                &-pic {
                    display: block;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }

    &__next,
    &__prev {
        border: none;
        border-radius: 10px;
        background-color: $color-light-bg;
    }

    &__next {
        transform: rotate(270deg);
    }

    &__prev {
        transform: rotate(90deg);
    }
}

h1,
h2,
h3,
h4,
h5 {
    font-family: $font-family-title;
    color: $font-color-title;
}

h1 {
    font-size: 80px;
    line-height: 75px;
}

h2 {
    font-size: 60px;
}

h3 {
    font-size: 50px;
}

h4 {
    font-size: 24px;
    text-align: center;
}

p {
    margin-bottom: 10px;
}

var {
    font-style: normal;
}

.img {
    width: 100%;
    height: 610px;
}

.width-90-per {
    width: 90%;
}

.f-size-30 {
    font-size: 30px;
}

.m-bottom-25 {
    margin-bottom: 25px;
}

.m-bottom-30 {
    margin-bottom: 30px;
}

.m-bottom-40 {
    margin-bottom: 40px;
}

.m-bottom-50 {
    margin-bottom: 50px;
}

.m-bottom-60 {
    margin-bottom: 60px;
}

.m-right-40 {
    margin-right: 40px;
}